@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Marcellus&family=Cinzel&display=swap');

html {
    font-size: 16px;
    display: flex;
    width: 100%;
    body,
    #__next {
        width: 100%;
    }
    h1 {
        font-family: 'Cinzel Decorative', cursive;
    }
    h2, h3, h4, h5 {
        font-family: 'Cinzel', serif;
    }
    p,
    span,
    button,
    strong {
        font-family: 'Marcellus', serif;
    }
    .home-pg-search {
        background: url('./search.png') no-repeat;
        background-position-y: center;
        background-position-x: 20px;
        font-family: 'Marcellus', serif;
        font-size: 1.1rem;
    }
}
