@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-size: 16px;
    display: flex;
    width: 100%;
    body,
    #__next {
        width: 100%;
    }
}

h1 {
    color: blue;
}